body {
  background-color: white;
}

#header-blk {
  background-color: white;
  border-radius: 0px;
  #logo-header {
    #logo-ofvg {
      background-image: url(../images/logo_ofvg_blue.svg);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    #logo-cdt {
      background-image: url(../images/logo_cdt.svg);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
  nav.navbar {
    background-color: $darkPrimaryColor;
    border-radius: 0px;
    border-style: none;
    #navlist {
      li {
        background-color: $darkPrimaryColor;
      }
      li.active a {
        background-color: $lightPrimaryColor;
      }
      li:hover a {
        background-color: red;
      }
    }
  }
}

#page-cnt {
  background-color: $backgroundColor;
  #sedibanner {
    background-color: $primaryColor;
  }
}

.box {
  background-color: $darkPrimaryColor;
}

#footer-cnt {
  .footer-img {
    background-color: $secondaryColor;
  }
}