		/* mixin bootstrap layout :
@include container-fixed($gutter: $grid-gutter-width)
@include make-row();
@include make-xx-column($value);
@include make-xx-column-push($value);
@include make-xx-column-pull($columns);
@include make-xx-column-offset($columns);
@include center-block();
@include size($width,$height);
@include square($size);
@include label-variant($color);
@include panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border);
@include button-variant($color, $background,$border);
@include gradient-horizontal[vertical,horizontal-three-colors]($start-color, $end-color, $start-percent, $end-percent);
@include img-responsive($display:block);
@include img-retina($file-1x,$file-2x,$width-1x,$width-2x);*/
		/*skeleton*/
		/*
#wrapper {
			#header {
				.top-header {
					.site-logo {}
					.client-nav {
						.client-nav-btn {}
					}
				}
				.main-nav {
					.site-nav {
						.site-nav-btngrp {
							.site-nav-btn {}
						}
					}
				}
			}
			#section {
				.home-content {
					.hero-banner {}
					.home-container{
						.sedi-panel {
							.sede-btn {}
						}
						.action-panel {
							.action-btn {}
						}
						.box-panel {
							.box {
								.box-flag {}
								.box-container {
									.box-header {
										.box-title {}
										.box-type {}
									}
									.box-info {
										.box-image {}
										.box-text {}
									}
								}
							}
						}
					}
}
			}
			#footer {
				.footer-container {
					.left-footer {}
					.center-footer {}
					.right-footer {}
				}
			}
		}
*/

		@import "variable";
		body {
			margin: 0px;
			padding: 0px;
		}
		.container {
			max-width: 1680px;
		}
		#wrapper {
			min-height: 1000px;
			#header {
				@include make-row();
				.top-header {height : 100px;
					.site-logo {
						@include make-xs-column(3);
					}
					.client-nav {
						@include make-xs-column(9);
						.client-nav-btn {}
					}
				}
				.main-nav {
					.site-nav {

						.site-nav-btngrp {
							.site-nav-btn {}
						}
					}
				}
			}
			#section {
				@include make-row();
				.home-content {
					.hero-banner {
						height: 400px;
						img {}
					}
					.home-container {
						@include container-fixed();
						width: 80%;
						.sedi-container {
							.sedi-panel {
								.sede-btn {}
							}
						}
						.action-panel {
							.action-btn {}
						}
						.box-panel {
							.box {
								.box-flag {}
								.box-container {
									.box-header {
										.box-title {}
										.box-type {}
									}
									.box-info {
										.box-image {}
										.box-text {}
									}
								}
							}
						}
					}
				}
			}
			#footer {
				@include make-row();
				.footer-container {
					height: 80px;
					.left-footer {
						@include make-xs-column(4);
					}
					.center-footer {
						@include make-xs-column(4);
					}
					.right-footer {
						@include make-xs-column(4);
					}
				}
			}
		}
