body {
  margin: 0px;
}

#header-blk {
  #logo-header {
    #logo-cdt {
      height: 80px;
      float: right;
    }
    #logo-ofvg {
      float: left;
      height: 80px;
      max-width: 350px;
      position: absolute;
      left: 5%;
    }
  }
  nav {
    width: 100%;
    margin: auto;
    li a {
      margin-left: 10px;
      margin-right: 10px;
    }
    #navheader {}
    .navbar-right {}
  }
}

#home-section {
  #jumboslide {
    margin-bottom: 0px;
    padding: 0px 0px 20px 0px;
    #slide {
      padding: 0px;
    }
  }
  #page-cnt {
    width: 80%;
    padding: 15px;
    margin-bottom: 30px;
    #sedibanner {
      padding: 10px 20px;
      margin: 5px;
      .sede-btn {
        padding: 10px 5px;
      }
    }
    #call-btn-cnt {
      width: 60%;
      .box {
        height: 200px;
        margin: 20px;
      }
    }
    #box-cnt {
      width: 80%;
      p.box {
        height: 300px;
        margin: 10px;
        padding: 20px;
      }
    }
  }
}

#footer-cnt {
  .footer-img {
    height: 80px;
    margin: 10px;
  }
}