@import "compass/css3";
@import "utility";
@import "decoration";
body {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  #wrapper {
    @include container-fixed();
    @include size(100%, 2000px);
    width: 100%;
    @media (min-width: $screen-sm-min) {
      //width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      //width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      //width: $container-lg;
    }
    .site-header {
      color: white;
      @include size(100%, 120px);
      .site-logo {
        @include make-row();        margin-left: 0px;
        margin-right: 0px;
        .logo-sx {
          @include make-xs-column(6);
        }
        .logo-dx {
          @include make-xs-column(6);
        }
      }
      .site-nav {
        @include make-row();
        margin-left: 0px;
        margin-right: 0px;
        .client-nav {
          @include make-xs-column(6);
          @include make-sm-column(12);
        }
        .web-nav {
          @include make-xs-column(6);
          @include make-sm-column(12);
        }
      }
    }
    .site-container {
      padding-left: 0px;
      padding-right: 0px;
      @include size(100%, 1200px);
      .hero-container {
        margin-left: 0px;
        margin-right: 0px;
        @include size(100%, 400px);
      }
      .sedi-container {
        @include make-row();
        width: 80%;
        .sede-btn {
          @include size(120px, 40px);
          @include make-xs-column(6);
          @include make-sm-column(6);
          @include make-lg-column(3);
        }
      }
      .call-container {
        width: 90%;
      }
      .box-container {
        padding: 15px;
        @include make-row();
        .box-panel {
          @include make-xs-column(12);
          @include make-sm-column(6);
          @include make-lg-column(4);
        }
      }
    }
    .site-footer {
      @include make-row();
      margin-left: 0px;
      margin-right: 0px;
      .site-info {
        @include make-sm-column(4);
        @include make-sm-column-offset(4);
      }
    }
  }
}