@import "compass/css3";
body {
  background-color: gainsboro;
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  .site-header {
    color: white;
    @include make-row();
    .site-logo {
      background-color: yellow;
      a {
        color: inherit;
      }
    }
    .site-nav {
      @include box-shadow(red 2px 2px 10px);
      .web-nav {
        @include make-sm-column(9);
        background-color: brown;
      }
      .client-nav {
        @include make-sm-column(3);
        background-color: orange;
      }
    }
  }
  .site-content {
    @include make-row();
    background-color: green;
    .featured {
      @include make-sm-column(12);
      background-color: navajowhite;
    }
  }
  .site-widgets {
    @include make-row();
    .widget {
      @include make-sm-column(4);
      @include border-radius(20px);
      background-color: gray;
    }
  }
  .site-footer {
    @include make-row();
    background-color: black;
    .site-info {
      @include make-sm-column(4);
      @include make-sm-column-offset(4);
    }
  }
}