@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body {
  color: white;
  font-family: 'Lato';
}

#header-blk {
  #logo-header {
    text-align: center;
    #logo-cdt {}
    #logo-ofvg {}
  }
  nav {
    li a {
      color: white;
      font-size: 1.2em;
      font-weight: 400;
    }
    #navheader {}
    .navbar-right {}
  }
}

#home-section {
  #jumboslide {
    #slide {}
  }
  #page-cnt {
    #sedibanner {
      .sede-btn {
        text-align: center;
      }
    }
    #call-btn-cnt {
      .box {
        text-align: center;
      }
    }
    #box-cnt {
      .box {
        text-align: center;
      }
    }
  }
}