@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
#wrapper {
  font-family: 'Lato', 'Open Sans', sans-serif;
  color: white;
  header {
    .top-header {
      .left-logo {}
      .right-logo {}
    }
    .navbar {
      .navbar-header {
        .navbar-toggle {}
        .navbar-brand {
          color: $navbarTextColor;
        }
      }
      .navbar-collapse {
        .nav {
          text-transform: uppercase;
          font-weight: 300;
          li {
            a {
              @include hoverer(color, $navbarTextColor, $navbarBackgroundColor);
            }
          }
          .dropdown {
            .dropdown-menu {
              li {
                a {}
                .ofvgMenuItem {
                  @include hoverer(color, $secondaryOfvgColor, white);
                }
                .cdtMenuItem {
                  @include hoverer(color, $secondaryCdtColor, white);
                }
              }
            }
          }
        }
      }
    }
  }
  section {
    #slideshow {}
    #home-container {
      #sedi-container {
        .sede-btn {
          color: $sediTextColor;
          font-weight: 500;
          font-size: 0.9em;
        }
      }
      #action-container {
        .action-btn {
          a {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 900;
            color: $actionTextColor;
            @include bp(max,1200px) {
              font-size : 1em;
              font-weight: 700;
            }
          }
        }
      }
      #box-container {
        .box-panel {
          .box {
            .box-header {h3{text-align: right;}}
            .box-content {}
            .box-label {
              h4 {}
            }
          }
          .box.cdt-box {
            .box-header {color:$boxCdtHeaderTextColor;}
            .box-content {color:$boxCdtTextColor;}
            .box-label {
              h4 {}
            }
          }
          .box.ofvg-box {
            .box-header {color:$boxOfvgHeaderTextColor;}
            .box-content {color:$boxOfvgTextColor;}
            .box-label {
              h4 {}
            }
          }
        }
      }
    }
  }
  footer {
    color:$footerTextColor;
    .footer-panel {
      text-align: center;
    }
  }
}
