/*For testing*/
/* *:not(body):not(html) {
  box-sizing: border-box;
  border: 1px dashed #000;
} */
/* layout utility */

@mixin no-padding() {
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding {
  @include no-padding();
}
/*skeleton*/

#wrapper {
  header {
    .top-header {
      .left-logo {}
      .right-logo {}
    }
    .navbar {
      .navbar-header {
        .navbar-toggle {}
        .navbar-brand {}
      }
      .navbar-collapse {
        .nav {
          li {}
        }
      }
    }
  }
  section {
    #slideshow {}
    #home-container {
      #sedi-container {
        .sede-btn {}
      }
      #action-container {
        .action-btn-container {
          .action-btn {
            a {
            }
          }
        }
      }
      #box-container {
        .box-panel {
          .box {
            .box-header {}
            .box-content {}
            .box-label {
              h4 {}
            }
          }
        }
      }
    }
  }
  footer {
    .footer-panel {}
  }
}
