/*For testing*/

*:not(body):not(html) {
	box-sizing: border-box;
	border: 1px dashed #000;
}
 .row{
	min-height: 50px;
}
/* layout utility */

.vertical-center {
	display: flex;
	align-items: center;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
/*skeleton*/
/*
.wrapper {
	.header {
		.top-header {
			.site-logo {}
			.client-nav {
				.client-nav-btn {}
			}
		}
		.main-nav {
			.site-nav {
				.site-nav-btngrp {
					.site-nav-btn {}
				}
			}
		}
	}
	.section {
		.home-content {
			.hero-banner {}
			.sedi-panel {
				.sede-btn {}
			}
			.action-panel {
				.action-btn {}
			}
			.box-panel {
				.box-container {
					.box-header {
						.box-title {}
						.box-type {}
					}
					.box-panel {
						.box-image {}
						.box-text{}
					}
				}
				.box-flag {}
			}
		}
	}
	.footer {
		.footer-container {
			.left-footer {}
			.center-footer {}
			.right-footer {}
		}
	}
}
*/
