//color variable
$backgroundColor: #eceff1;
$navbarBackgroundColor:#1f459f;
$navbarTextColor: white;
$navbarHoverColor: white;
$primaryOfvgColor:#2f57b5;
$secondaryOfvgColor:#b1b1b1;
$primaryCdtColor:#f07f20;
$secondaryCdtColor:#212121;
$sediBackgroundColor:$primaryOfvgColor;
$sediTextColor:white;
$actionBackgroundColor:white;
$actionTextColor:$primaryOfvgColor;
$boxOfvgBackgroundColor:white;
$boxOfvgLabelBackgroundColor:$primaryOfvgColor;
$boxOfvgHeaderBackgroundColor:$secondaryOfvgColor;
$boxOfvgHeaderTextColor:$primaryOfvgColor;
$boxOfvgTextColor:black;
$boxCdtBackgroundColor:white;
$boxCdtLabelBackgroundColor:$primaryCdtColor;
$boxCdtHeaderBackgroundColor:$secondaryCdtColor;
$boxCdtHeaderTextColor:$primaryCdtColor;
$boxCdtTextColor:black;
$footerBackgroundColor:black;
$footerTextColor:white;


